.container-projects {
  box-sizing: border-box;
  position: relative;
}

/*.container-project-image {
  display: block;
}*/

.container-project-image img {
  /*width: 338px;*/
  width: 100%;
  display: flex;
}

.projectSlides {
  display: none;
  justify-content: space-between;
}

/* Next & previous buttons */
.projects-prev, .projects-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: -2rem 0.125rem;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 2.2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.projects-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.projects-prev:hover, .projects-next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.container-project {
  text-align: center;
  box-shadow: 0 0 0 1px var(--background-color-border);
  border-radius: 1px;
  position: relative;
  background-color: lightgrey;
  max-width: 33%;
  margin: 0 auto;
}
.container-project h4 {
  color: teal;
  font-size: 1.3rem;
  background-color: var(--background-color-header);
  border-bottom: solid 1px var(--background-color-border);
}

/* The dots/bullets/indicators */
.projects-dot-mobile {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}

.container-projects-dot {
  text-align: center;
  padding-top: 0.5rem;
}

.projects-dot-desktop {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .projects-dot:hover {
  background-color: #717171;
}

/* Smaller screens */
@media only screen and (max-width: 1024px) {
  .projects-dot-mobile {
    display: inline-block;
  }

  .projects-dot-desktop {
    display: none;
  }

  .projects-prev, .projects-next {
    margin: -2rem 0;
  }

  .container-project {
    max-width: none;
  }
}