/* Global Styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

body {
  background-color: var(--background-color-main);
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 1rem;

  --max-width: 1024px;

  --background-color-header: rgb(206, 232, 243);
  --background-color-main: rgb(182, 223, 241);
  --background-color-border: rgb(130, 177, 198);
}

main {
  padding: 0 1rem;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.5rem;
  margin: 4rem 0;
}

section {
  max-width: var(--max-width);
  margin: 0 auto;
}


/* Header */
header {
  background-color: var(--background-color-header);
  border-bottom: solid 2px var(--background-color-border);
}

.container-header {
  display: flex;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
  justify-content: space-between;
}

.nav-bar {
  display: flex;
  list-style-type: none;
}

.nav-item a {
  text-decoration: none;
  margin-left: 0.5rem;
  color: black;
}


/* Home */
.container-home {
  display: flex;
  align-items: center;
}

.container-home-text p {
  width: 80%;
  font-size: 1.3rem;
  margin: 2rem 0;
}

.container-home-image {
  margin-top: 4rem;
}

.container-home-image img {
  width: 300px;
  float: right;
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.5);
}


/* Skills */
.container-skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container-skill {
  text-align: center;
  margin-right: 2rem;
  font-size: 4rem;
  color: teal;
}

.container-skill figcaption {
  font-size: 1rem;
  color: black;
}

.container-skill img {
  width: 80px;
  margin: 0.5rem 0;
}


/* Projects */
.container-project-hover {
  display: none;
  transition: 0.2s ease;
}

.container-project-hover p {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 0;
}

.hover-skills {
  position: absolute;
  width: 100%;
  top: 45%;
  left: 0;
  font-size: 2.45rem;
}

.hover-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-decoration: none;
  padding: 1rem 0;
  background-color: teal;
  display: block;
  color: black;
}

.hover-link:hover {
  background-color: rgb(73, 160, 160);
}

.container-project:hover {
  background: none;
}

.container-project:hover img{
  opacity: 0.1;
}

.container-project:hover .container-project-hover {
  display: block;
}


/* Contact */
.container-contact-icons a {
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
  margin-right: 1rem;
}


@media only screen and (max-width: 1024px) {
  
}