/* Global Styles */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

body {
  background-color: var(--background-color-main);
}

:root {
  --max-width: 1024px;

  --background-color-header: rgb(206, 232, 243);
  --background-color-main: rgb(182, 223, 241);
  --background-color-border: rgb(130, 177, 198);

  --text-color-primary: rgb(0, 128, 128);
  --text-color-secondary: rgb(17, 69, 92);
  --skills-color: rgb(63, 103, 123);
}

main {
  padding: 0 2rem;
}

h1 {
  font-size: 2.4rem;
  color: var(--text-color-secondary);
}

h2 {
  font-size: 2.5rem;
  margin: 4rem 0;
  color: var(--text-color-primary);
}

section {
  max-width: var(--max-width);
  margin: 0 auto;
}


/* Header */
header {
  background-color: var(--background-color-header);
  border-bottom: solid 2px var(--background-color-border);
}

.container-header {
  display: flex;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.header-title-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#nav-button {
  display: none;
  font-size: 1.3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 0.4rem;
  color: var(--text-color-secondary);
}

.nav-button-active {
  background-color: rgba(130, 177, 198, 0.7);
}

#nav-bar {
  display: flex;
  list-style-type: none;
  font-size: 1.3rem;
  text-align: center;
}

.nav-item {
  margin: 0.8rem 0;
}

.nav-item a {
  text-decoration: none;
  margin-left: 1.5rem;
  color: var(--text-color-primary);
}

.nav-item a:hover {
  border-bottom: solid 1px rgb(22, 161, 161);
  color: rgb(22, 161, 161);
}

/* Home */
.container-home {
  display: flex;
  align-items: center;
}

.container-home-text p {
  width: 80%;
  font-size: 1.3rem;
  margin: 2rem 0;
  color: var(--text-color-secondary);
}

.container-home-image {
  margin-top: 4rem;
}

.container-home-image img {
  width: 300px;
  float: right;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px rgba(128, 128, 128, 0.5);
}


/* Skills */
.container-skills {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container-skill {
  text-align: center;
  margin-right: 2rem;
  font-size: 4rem;
  color: var(--skills-color);
}

.container-skill figcaption {
  font-size: 1rem;
  color: var(--text-color-secondary);
}

.container-skill img {
  width: 80px;
  margin: 0.5rem 0;
}


/* Projects */
.container-project-hover {
  display: none;
  transition: 0.2s ease;
}

.container-project-hover p {
  position: absolute;
  width: 100%;
  top: 15%;
  left: 0;
  color: var(--text-color-secondary);
}

.hover-skills {
  position: absolute;
  width: 100%;
  top: 45%;
  left: 0;
  font-size: 2.45rem;
  color: var(--skills-color);
}

.hover-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-decoration: none;
  padding: 1rem 0;
  background-color: teal;
  display: block;
  color: black;
}

.hover-link:hover {
  background-color: rgb(73, 160, 160);
}

.container-project:hover {
  background: none;
}

.container-project:hover img{
  opacity: 0.1;
}

.container-project:hover .container-project-hover {
  display: block;
}


/* Contact */
.container-contact-icons a {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--text-color-secondary);
  margin-right: 1rem;
}

.container-contact-icons a:hover {
  color: var(--skills-color);
}

.container-contact-icons {
  margin-bottom: 4rem;
}


/* Footer */
footer {
  background-color: var(--text-color-secondary);
  color: var(--background-color-header);
  padding: 1rem 0;
  text-align: center;
}


@media only screen and (max-width: 1024px) {
  .container-header {
    flex-direction: column;
  }
  #nav-button {
    display: block;
  }
  #nav-bar {
    display: none;
    margin-bottom: -1.2rem;
  }
  .nav-item a {
    margin-bottom: 0;
  }
}